DATABASE_URL=
FRONTEND_URL=
HCAUTH_CLIENT_ID=
HCAUTH_CLIENT_SECRET=
HCAUTH_REDIRECT_URI=
SLACK_BOT_TOKEN=
HCCDN_KEY=
HACKATIME_ADMIN=
AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_PROJECTS_TABLE_ID=
AIRTABLE_USERS_TABLE_ID=
UNIFIED_AIRTABLE_TOKEN=
UNIFIED_AIRTABLE_BASE_ID=
UNIFIED_AIRTABLE_TABLE_ID=
FRAUD_TOKEN=
THESEUS_API_KEY=
