DATABASE_URL=postgres://postgres:password@localhost:5432/scraps_development
FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379/0

HCAUTH_CLIENT_ID=
HCAUTH_CLIENT_SECRET=
HCAUTH_REDIRECT_URI=http://localhost:3000/auth/callback

SLACK_BOT_TOKEN=
SLACK_ACTIVITY_CHANNEL_ID=

HCCDN_KEY=
HACKATIME_ADMIN=

AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_PROJECTS_TABLE_ID=
AIRTABLE_USERS_TABLE_ID=
UNIFIED_AIRTABLE_TOKEN=
UNIFIED_AIRTABLE_BASE_ID=
UNIFIED_AIRTABLE_TABLE_ID=

FRAUD_TOKEN=
THESEUS_API_KEY=
LAPSE_API_KEY=
