# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env.example

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases) and sockets.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/tmp/sockets/*
!/tmp/sockets/.keep

# Ignore compiled assets and vendored gems.
/public/assets
/vendor/bundle

# Ignore master key for decrypting credentials and more.
/config/master.key

.byebug_history
